<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- * 추상클래스 로그인 서비스 sql -->
<!-- * 25.04.08 성유리 로그인 dao.xml  -->
<!-- * 25.04.10 권준우 - 쿼리 수정 :  where email=#{email} and password=#{password} -->


<mapper namespace="com.lgy.ShoFriend.dao.LogDAO">

    <select id="loginYn" resultType="com.lgy.ShoFriend.dto.CustomerDTO">
        select id, name, email, password, phone, address, address2, zipcode, created_at
        from customer 
        where email=#{email} and password=#{password}
    </select>
    
    <select id="loginYns" resultType="com.lgy.ShoFriend.dto.SellerDTO">
        select id, name, email, password, phone, created_at
        from seller
        where email=#{email} and password=#{password}
    </select>
    
        <select id="searchId" resultType="com.lgy.ShoFriend.dto.CustomerDTO">
		select email 
		from customer 
		where name=#{name} 
    </select>
    
      <select id="doFindId" resultType="com.lgy.ShoFriend.dto.CustomerDTO">
		select email 
		from customer 
		where name=#{name} 
    </select>
    
    <select id="searchIds" resultType="com.lgy.ShoFriend.dto.SellerDTO">
		select email 
		from seller 
		where name=#{name} 
    </select>
    
      <select id="doFindIds" resultType="com.lgy.ShoFriend.dto.SellerDTO">
		select email 
		from seller 
		where name=#{name} 
    </select>
    
    <select id="searchPw" resultType="com.lgy.ShoFriend.dto.CustomerDTO">
		select password 
		from customer 
		where name=#{name} and email=#{email}
    </select>
    
      <select id="doFindPw" resultType="com.lgy.ShoFriend.dto.CustomerDTO">
		select password 
		from customer 
		where name=#{name} and email=#{email}
    </select>
    
        <select id="searchPws" resultType="com.lgy.ShoFriend.dto.SellerDTO">
		select password 
		from seller 
		where name=#{name} and email=#{email}
    </select>
    
      <select id="doFindPws" resultType="com.lgy.ShoFriend.dto.SellerDTO">
		select password 
		from seller 
		where name=#{name} and email=#{email} 
    </select>
        
</mapper>